@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Osasco-SP<br />
    <abbr title="Phone">Wpp:</abbr>
    (11) 95389-7826
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:jlucasdurigan@gmail.com">jlucasdurigan@gmail.com</a><br />
</address>