@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KINGDOM HEARTS</h1>
    <p class="lead">Kingdom Hearts is a crossover of various Disney properties based in an original fictional universe.
    The series centers on the main character, Sora, and his journey and experiences with various Disney and Pixar characters,
    as well as some from Square Enix properties, such as Final Fantasy, The World Ends With You and Einhänder,
    in addition to original characters and locations created specifically for the series.</p>
    <p><a target="_blank" rel="noreferrer" href="https://en.wikipedia.org/wiki/Kingdom_Hearts" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="char">
        <h2>Characters</h2>
        <p>List of the characters in the games, like Sora, Donald and Goofy.</p>
        <p><a class="btn btn-default" @Html.ActionLink("GO", "Index", "Character")></a></p>
    </div>
    <div class="col-md-4">
        <h2>Weapons</h2>
        <p>List of the weapons in the games, like Keyblades, Staffs and Shields.</p>
        <p><a class="btn btn-default" @Html.ActionLink("GO", "Index", "Weapon")></a></p>
    </div>
    <div class="col-md-4">
        <h2>Armors</h2>
        <p>List of armors in the games, like Acrisius and Power Band.</p>
        <p><a class="btn btn-default" @Html.ActionLink("GO", "Index", "Armor")></a></p>
    </div>
    <div class="col-md-4">
        <h2>Accessories</h2>
        <p>List of accessories in the games, like Ability Ring and Full Moon.</p>
        <p><a class="btn btn-default" @Html.ActionLink("GO", "Index", "Accessory")></a></p>
    </div>
</div>